body {
        width: 360px;
        height: 640px;
        background: url(background.jpg);
        margin: -5px;
    }

    .mark {
        position: fixed;
        width: 61px;
        height: 61px;
        left: 149px;
        top: 10px;
    }
    
    .top {
        position: fixed;
        width: 360px;
        height: 81px;
        left: 0px;
        top: 0px;;
        background: #FF4646;
    }
    
    .info {
        font-size: 12px;
        font-family: 'Fjalla One', sans-serif;
        position: fixed;
        width: 330px;
        height: 80px;
        left: 15px;
        top: 90px;
        background: #FFF5C0;
        border-radius: 5px;
    
    }
    .info-text {
        position: fixed;
        width: 306px;
        height: 75px;
        left: 28px;
        top: 82px;
        font-family: "Fjalla One";
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 98.2%;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #342F37;
    }

    .container-encode {
        position: fixed;
        width: 330px;
        height: 190px;
        left: 15px;
        top: 182px;
        background: #FF8585;
        box-shadow: 11px 12px 0px -2px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
    }
    
    .container-decode {
        position: fixed;
        width: 330px;
        height: 190px;
        left: 15px;
        top: 420px;
        background: #FF8585;
        box-shadow: 11px 12px 0px -2px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
    }

    .info-encode {
        position: fixed;
        width: 355px;
        height: 22px;
        left: 40px;
        top: 184px;
        font-family: "Fjalla One";
        font-size: 12px;
        line-height: 98.2%;
        display: flex;
        align-items: flex-end;
        text-align: center;
        color: #272932;
    }

    .info-decode {
        position: fixed;
        width: 355px;
        height: 22px;
        left: 40px;
        top: 422px;
        font-family: "Fjalla One";
        font-size: 12px;
        line-height: 98.2%;
        display: flex;
        align-items: flex-end;
        text-align: center;
        color: #272932;
    }

    .text-encode {
        position: fixed;
        width: 240px;
        height: 45px;
        left: 60px;
        top: 227px;
        font-family: "Fjala One", sans-serif
        font-size: 12px;
        background: #fafafa;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 10px;
    }
    
    .text-decode {
        position: fixed;
        width: 240px;
        height: 45px;
        left: 60px;
        top: 465px;
        font-family: "Fjala One", sans-serif
        font-size: 12px;
        background: #FAFAFA;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .result-encode {
        position: fixed;
        width: 240px;
        height: 45px;
        left: 59px;
        top: 282px;
        font-family: "Fjala One", sans-serif
        font-size: 12px;
        background: #FAFAFA;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .result-decode {
        position: fixed;
        width: 240px;
        height: 45px;
        left: 59px;
        top: 520px;
        font-family: "Fjala One", sans-serif
        font-size: 12px;
        background: #FAFAFA;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .offset1 {
        position: fixed;
        width: 61px;
        height: 26px;
        left: 150px;
        top: 385px;
        background: #FAFAFA;
        border: 1px solid #000000;
        border-radius: 5px;  
    }
        
    .encode {
        font-family: 'Fjalla One', sans-serif;
        position: fixed;
        width: 128px;
        height: 23px;
        left: 116px;
        top: 338px;
        background: #FFF5C0;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 4px;
    }
    
    .decode {
        font-family: 'Fjalla One', sans-serif;
        position: fixed;
        width: 128px;
        height: 23px;
        left: 116px;
        top: 576px;
        background: #FFF5C0;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 4px;
    }
 
   
    ::placeholder {
        color: #a9a9a9;
        font-family: "Fjala One", sans-serif;
        font-size: 12px;
        text-align: left;
    }
    